.playerKey0 {
 color: rgb(22, 97, 247);
}

.playerKey1 {
  color: rgb(252, 30, 41);
}

.playerKey2 {
  color: rgb(237, 252, 30);
}

.keyFullCircle {
  r: 8px;
  fill: black;
  cx: 8px;
  cy: 8px;
}

.keyRect {
  height: 16px;
  width: 16px;
  fill: black;
}

.keyTransCircle {
  r: 8px;
  fill: transparent;
  stroke: black;
  cx: 8px;
  cy: 8px;
}

.keySVG {
  height: 16px;
  width: 16px;
}