/*scatter chart -----------------------------*/

.d3Axis {
  /*fill: white;*/
}

text {
  font-size: 20px;
}

.playerKey0 {
 color: rgb(22, 97, 247);
}

.playerKey1 {
  color: rgb(252, 30, 41);
}

.playerKey2 {
  color: rgb(237, 252, 30);
}

.keyFullCircle {
  r: 10px;
  fill: black;
  cx: 10px;
  cy: 10px;
}

.keyTriangle {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 20px solid black;
  top: 5px;
  position: relative;
}

.keyTransCircle {
  r: 10px;
  fill: transparent;
  stroke: black;
  cx: 10px;
  cy: 10px;
}

.keySVG {
  height: 20px;
  width: 20px;
}

.d3SVG {
  display: block;
  margin: auto;
  padding: 50px 0px 100px 100px;
  overflow: visible;
  min-width: 1100px;
}

.line {
  fill: none;
  stroke-width: .5px;
  stroke-opacity: .5;
}

/*end scatter chart -------------------*/

/*start scatter legend --------------------*/


#d3LegendDiv {
  margin: auto;
  font-size: 30px;
}

#d3LegendDiv div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}

#d3LegendDiv ul {
  list-style-type: none;
  width: 100%;
}

#d3LegendDiv li {
  text-align: center;
}

#d3LegendDiv table {
  margin: auto;
}

#d3LegendDiv td {
  padding: 5px;
}

#d3LegendDiv button {
  padding: 10px;
}

#d3LegendDiv .activeButton {
  font-weight: bold;
}

#d3LegendDiv .inactiveButton {
  font-weight: none;
}

/*end scatter legend ---------------------------*/

/*start player selection --------------------*/

#formContainer div {
  margin: 0;
  width: 33%;
  float: left;
  padding: 50px 10px;
  text-align: center;
  box-sizing: border-box;
}

#formContainer h3 {
  padding: 0;
  margin: 0;
}

#formContainer ul {
  list-style-type: none;
  color: black;
  margin: 0;
}

#formContainer table {
  margin: auto;
}

#formContainer h3 {
  font-size: 24px;
  margin: auto;
}

#formContainer td {
  font-size: 24px;
  padding: 5px;
}

#formContainer .tableIcon {
  font-weight: bold;
}

#formContainer .tableIcon:hover {
  cursor: pointer;
}

#formContainer .minus {
  color: red;
}

#formContainer .plus {
  color: green;
}

#formContainer li {
  font-size: 20px;
  padding: 5px;
}

#showChartButton {
  margin: auto;
  text-align: center;
  padding: 50px;
  clear: both;
}

#showChartButton input {
  padding: 10px;
  font-size: 20px;
}

#formContainer input {
  padding: 10px;
  font-size: 20px;
}

#formContainer button {
  padding: 5px;
  font-size: 20px;
}

/*end player selection ---------------------------*/