

.d3Axis {
  /*fill: white;*/
}

text {
  font-size: 20px;
}

.playerKey0 {
 color: rgb(22, 97, 247);
}

.playerKey1 {
  color: rgb(252, 30, 41);
}

.playerKey2 {
  color: rgb(237, 252, 30);
}

.keyFullCircle {
  r: 10px;
  fill: black;
  cx: 10px;
  cy: 10px;
}

.keyTriangle {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-top: 20px solid black;
  top: 5px;
  position: relative;
}

.keyTransCircle {
  r: 10px;
  fill: transparent;
  stroke: black;
  cx: 10px;
  cy: 10px;
}

.keySVG {
  height: 20px;
  width: 20px;
}

.d3SVG {
  display: block;
  margin: auto;
}

#d3LegendDiv {
  margin: auto;
  font-size: 30px;
}

#d3LegendDiv div {
  float: left;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
}

#d3LegendDiv ul {
  list-style-type: none;
  width: 100%;
}

#d3LegendDiv li {
  text-align: center;
}

#d3LegendDiv table {
  margin: auto;
}

#d3LegendDiv td {
  padding: 5px;
}

#d3LegendDiv button {
  padding: 10px;
}

.line {
  fill: none;
  stroke-width: .5px;
  stroke-opacity: .5;
}

#formContainer div {
  margin: 0;
  width: 33%;
  float: left;
  padding: 50px 10px;
  text-align: center;
  box-sizing: border-box;
}

#formContainer ul {
  list-style-type: none;
  color: black;
  margin: 0;
}

#formContainer li {
  font-size: 16px;
}

#showChartButton {
  margin: auto;
  text-align: center;
  padding: 50px;
  clear: both;
}

#formContainer button {
  padding: 5px;
}